@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 8px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
.container {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* -------------- NAVBAR -------------- */
#nav-bar {
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color: #aa4476;
}
.nav-bar {
	background-color: #aa4476;
	left: 0;
	top: 0;
	padding: 1.5rem 4rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-bar .brand a {
	font-size: 2rem;
	letter-spacing: 2px;
	color: white;
	text-decoration: none;
}
.nav-bar .nav-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.nav-bar .nav-list .hamburger {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	width: 50px;
	transition: .3s ease transform;
	cursor: pointer;
}
.nav-bar .nav-list .hamburger.active {
	transform: rotate(360deg);
}
.nav-bar .nav-list .hamburger.active .bar:before {
	top: 0;
	transform: rotate(45deg);
}
.nav-bar .nav-list .hamburger.active .bar:after {
	top: 0;
	transform: rotate(-45deg);
}
.nav-bar .nav-list .hamburger.active .bar {
	background-color: transparent;
}
.nav-bar .nav-list .hamburger .bar {
	height: 2px;
	width: 30px;
	background-color: white;
	position: relative;
	display: flex;
}
.nav-bar .nav-list .hamburger .bar::before,
.nav-bar .nav-list .hamburger .bar::after {
	content: '';
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: white;
	transition: .3s ease all;
}
.nav-bar .nav-list .hamburger .bar::before {
	top: 8px;
}
.nav-bar .nav-list .hamburger .bar::after {
	bottom: 8px;
}
.nav-bar .nav-list ul {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #aa4476;
	padding: 5rem 0;
	transform: translateY(-100%);
	transition: .3s ease transform;
	text-align: center;
	z-index: -1;
}
.nav-bar .nav-list ul li {
	list-style: none;
	display: block;
	position: relative;
}
.nav-bar .nav-list ul li:hover:after {
	transform: translateX(-50%) scale(1);
}
.nav-bar .nav-list ul li:after {
	content: '';
	position: absolute;
	width: 5rem;
	height: .2rem;
	background-color: #39567e;
	left: 50%;
	transform: translateX(-50%) scale(0);
	bottom: 0;
	transition: .3s ease transform;
}
.nav-bar .nav-list ul li a {
	font-size: 1.5rem;
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	display: block;
	letter-spacing: .15rem;
	padding: 2rem 2rem;
}
.nav-bar .nav-list.open ul {
	transform: translateY(70px);
}

/* -------------- HERO -------------- */
.hero {
	min-height: 80vh;
	width: 100%;
	padding-top: 50px;
	justify-content: center;
	background-color:  white;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
}
.hero .hero-info {
	width: 100%;
	text-align: center;
}
.hero .hero-info .hero-info-heading {
	font-size: 5rem;
	color: #aa4476;
	margin-bottom: 30px;
}
.hero .hero-info .hero-info-head {
	font-size: 2rem;
	color: #39567e;
	font-weight: 200;
}
.hero .hero-info .hero-info-button {
	margin-top: 30px;
	padding: 2rem 5rem;
	border-radius: 30px;
	display: inline-block;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	letter-spacing: .6rem;
	background-color: #aa4476;
    cursor: pointer;
    transition: 0.4s;
}
.hero .hero-info .hero-info-button:hover{
	opacity: .7;
  }
.hero .hero-img {
	height: auto;
	width: 80%;
	margin-bottom: 3rem;
}
.hero .hero-img img {
	height: 100%;
	width: 100%;
}

/* -------------- SERVICES -------------- */
.services-section{
	background-size: cover;
	padding: 60px 0;
	margin: 20px auto;
}
.inner-width{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding:  20px;
	overflow: hidden;
}
.section-title{
	margin-top: 70px;
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #39567e;
}
.services-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.service-box{
	max-width: 33.33%;
	padding: 50px;
	font-weight: 200;
	text-align: center;
	cursor: pointer;
}
.service-icon{
	display: inline-block;
	width: 70px;
	height: 70px;
	border: 3px solid #aa4476;
	border-radius: 20px;
	color: #aa4476;
	transform: rotate(45deg);
	margin-bottom: 30px;
	margin-top: 16px;
	transition: 0.3s linear;
}
.service-icon i{
	line-height: 70px;
	transform: rotate(-45deg);
	font-size: 26px;
}
.service-box:hover .service-icon{
	background:#aa4476;
	color: #ddd;
}
.service-title{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #aa4476;
}
.service-desc{
	text-align: center;
	font-size: 14px;
	color: #39567e;
}

/* -------------- WHY TRUEVOTE -------------- */
#why {
	padding: 80px 0;
    background: #f1f1f1;
    text-align: center;
  }
#why .inner h1 {
	text-align: center;
	margin-top: 50px;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #39567e;
}
.inner{
	max-width: 1200px;
	margin: auto;
	overflow: hidden;
	padding: 0 20px;
}
.border{
	width: 120px;
	height: 3px;
	background: #aa4476;
	margin: 26px auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.col{
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
}
.name{
	font-size: 3rem;
	text-transform: uppercase;
	margin: 20px 0;
	color: #aa4476;
}
.stars{
	color: #82ccdd;
	margin-bottom: 20px;
}

/* -------------- TESTIMONIAL -------------- */
.clients {
	background: #fff;
	padding: 30px;
}
.clients img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.clients p {
	  font-size: 12px;
	  font-weight: 200;
	  text-align: justify;
	  line-height: 2.5rem;
}
.testimonial-section{
	background: #aa4476;
	padding: 200px 0;
	text-align: center;
}
.inner-width{
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}
.testimonial-section h1{
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: white;
}
.testimonial-pics{
	padding: 40px 0;
}
.testimonial-pics img{
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 0 20px;
	filter: grayscale(100%);
	transition: .3s;
	cursor: pointer;
}
.testimonial-pics img:hover, .testimonial-pics img.active{
	filter: none;
}
.testimonial-contents{
	max-width: 600px;
	margin: auto;
}
.testimonial{
	display: none;
}
.testimonial.active{
	display: block;
}
.testimonial p{
	color: White;
	margin-bottom: 20px;
	font-size: 2rem;
	font-weight: 200;
}
.testimonial .description{
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 15px;
	color: #fff;
}

/* -------------- CONTACT -------------- */
.contact {
	display: flex;
}
.contact-container {
	flex-basis: 75%;
}

/* -------------- ASIDE -------------- */
.subcribe-article {
	flex-basis: 25%;
	padding-top: 20px;
	background-color: #f1f1f1;
}
.subcribe-title{
	margin: 50px auto;
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #39567e;
}
.subcribe-info {
	padding: 20px;
	font-size: 1.75rem;
	line-height: 2.5rem;
	font-weight: 200;
	color: #39567e;
	text-align: justify;
	margin-top: 20px;
}
.subcribe-container {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.subcribe-input{
	width: 100%;
	font-size: 1.75rem;
	font-weight: 400;
	padding: 1rem;
	border-radius: .5rem;
	border: 1px solid #aa4476;
	outline: none;
	margin-bottom: 2rem;
}
.subcribe-button {
	width: 50%;
	padding: 1.6rem 2.6rem;
	border: 2px solid #aa4476;
	border-radius: 10px;
	color: #aa4476;
	font-size: 1.5rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .2rem;
	cursor: pointer;
    transition: 0.4s;
}
.subcribe-button:hover {
	color: #fff;
	background-color: #aa4476;
}

/* -------------- ABOUT -------------- */
.about {
	width: 100%;
}
.about-title{
	margin-top: 70px;
	text-align: center;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #39567e;
}
.about-container {
	display: flex;
	flex-direction: column;
}
.about-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}
.about .about-img .about-img-wrapper img{
	width: 200px;
	border-radius: 50%;
	border: 6px solid #aa4476;
}
.about-info {
	display: flex;
	flex-direction: column;
}
.about-info p {
	font-size: 2rem;
	line-height: 3.5rem;
	font-weight: 200;
	color: #39567e;
	text-indent: 70px;
	text-align: justify;
	margin-top: 50px;
}
.about .about-info .about-info-button {
	width: 20%;
	padding-bottom: 2rem;
	display: inline-block;
	color: #aa4476;
	text-decoration: none;
	font-size: 1.6rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	margin-top: 20px;
	margin-bottom: 20px;
	cursor: pointer;
    transition: 0.4s;
}
.about .about-info .about-info-button:hover {
	opacity: 0.5;
}

/* -------------- INFORMATION BANNER  -------------- */
.hire {
	min-height: 20vh;
	width: 100%;
	padding-top: 10px;
	justify-content: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #d587ad;
}
.hire .hire-info {
	flex-basis: 50%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hire .hire-info .hire-info-heading {
	font-size: 1.75rem;
	color: #fff;
}
.hire .hire-info .hire-info-button {
	margin-top: 30px;
	padding: 1.5rem 3rem;
	border: 2px solid #fff;
	border-radius: 30px;
	display: inline-block;
	font-size: 1.6rem;
	text-transform: uppercase;
	color: white;
	text-decoration: none;
	letter-spacing: .6rem;
	background-color: #d587ad;
    cursor: pointer;
    transition: 0.4s;
}
.hire .hire-info .hire-info-button:hover{
	background-color: #aa4476;
}
.hire .hire-img {
	height: auto;
	flex-basis: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hire .hire-img img {
	height: 200px;	
}

/* -------------- FOOTER -------------- */
.footer {
	min-height: 20vh;
	width: 100%;
	background-color: #aa4476;
	color: #fff;
	flex-direction: column;
	text-align: center;
	padding: 5rem;
}
.footer .footer-contact {
	padding: 20px;
	
}
.footer .footer-contact .footer-contact-heading {
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 10px;
}
.footer .footer-contact .footer-contact-info {
	font-size: 1.4rem;
	padding-top: 10px;
	letter-spacing: .2rem;
	font-weight: 200;
}
.footer .footer-social-follow .footer-social-icon a {
	color: #fff;
	font-size: 3rem;
	margin: .4rem;
	display: inline-block;
}

/* Media query for desktop */
@media screen and (min-width: 960px) {
	.nav-bar .nav-list .hamburger {
		display: none;
	}
	.nav-bar {
		width: 80%;
	}
	.nav-bar .nav-list ul {
		transform: translateX(0);
		position: initial;
		padding: 0;
		z-index: initial;
		background-color: transparent;
	}
	.nav-bar .nav-list ul li {
		display: inline-block;
	}
	.hero {
		height: 100vh;
		flex-direction: row;
		padding-left: 10%;
		justify-content: center;
		align-items: center;
	}
	.hero .hero-info {
		max-width: 30%;
		text-align: left;
	}
	
	.hero .hero-img {
		min-width: 400px;
		max-width: 1000px;
	}
	.about-info {
		margin: auto 80px;
	}
	
	
}
/* End Media query desktop  */

/* Media Query For tablet */
@media screen and (max-width:768px) {
	.hero .hero-info {
		margin-bottom: 30px;
	}
	.hero .hero-info .hero-info-heading {
		font-size: 3rem;
	}
	.gallery-section .image{
		flex: 50%;
	}
	.service-box{
		max-width: 50%;
	}
	.testimonial-pics img{
		margin: 20px;
	}
	.col{
		flex: 100%;
		max-width: 80%;
	}
	.contact {
		flex-direction: column;
	}
	.subcribe-section {
		padding: 30px;
	}
	.about-container {
		display: flex;
		flex-direction: column;
	}
	.about .about-img .about-img-wrapper img{
		width: 200px;
	}
	.about-info {
		padding: 30px;
	}
	.about-info p {
		font-size: 2rem;
		line-height: 3.5rem;
		font-weight: 200;
		color: #39567e;
		text-indent: 50px;
		text-align: justify;
		margin-top: 20px;
	}
	.hire .hire-info .hire-info-heading {
		padding: 30px;
		font-size: 1.5rem;
	}
	.hire .hire-info .hire-info-button {
		margin-top: -10px;
		margin-bottom: 20px;
		padding: 1.5rem 3rem;
		font-size: 1.5rem;
		letter-spacing: .2rem;
	}
	.hire .hire-img img {
		height: 150px;	
	}
	
}
/* End Media Query For tablet  */

/* Media Query For mobile  */
@media screen and (max-width:480px) {
	.hero .hero-info .hero-info-head {
		font-size: 2rem;
		padding: 0 20px;
	}
	.gallery-section .image{
		flex: 100%;
	}
	.service-box{
		max-width: 100%;
	}
	.col{
		flex: 100%;
		max-width: 100%;
	}
	.contact {
		flex-direction: column;
	}
	.subcribe-container {
		padding: 20px;
	}
	.about .about-img .about-img-wrapper img{
		width: 150px;
	}
	.about-info {
		padding: 20px;
	}
	.about-info p {
		font-size: 2rem;
		line-height: 2.5rem;
	}
	.about .about-info .about-info-button {
		font-size: 1.5rem;
	}
	.hire .hire-info .hire-info-heading {
		font-size: 1.25rem;
		padding-left: 15px;
	}
	.hire .hire-info .hire-info-button {
		margin-bottom: 30px;
		padding: 1rem 2.5rem;
		font-size: 1.25rem;
		letter-spacing: .2rem;
	}
	.testimonial-pics img{
		margin-bottom: 50px;
	}
}
/* End Media Query For mobile  */
