/* -------------- HIRE ME -------------- */

.hire__article-container {
	width: 100%;
	padding-top: 10px;
	justify-content: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--color-blue);
}
.hire__info {
	flex: 2;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hire__info-heading {
	font-size: 1.75rem;
	color: var(--secondary-color);
}
.hire__info-button {
	margin-top: 1em;
	padding: 1em 2em;
	border: 2px solid #fff;
	border-radius: 30px;
	display: inline-block;
	font-size: 1rem;
	text-transform: uppercase;
	color: var(--color-white);
	text-decoration: none;
	letter-spacing: .5rem;
	background-color: var(--primary-color);
    transition: 0.4s;
    cursor: pointer;
}
.hire__info-button:hover{
	background-color: #6f84a7;
}
.hire__img {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hire__img img {
	height: 250px;
	width: 350px;	
}